<section class="commingsoon-book mt-4">
    <div class="container">
        <div class="row">
            <!--header-->
            <div class="col-12 d-flex justify-content-between align-items-center pb-2 bg-light">
                <h2 class="header text-uppercase" style="font-weight: 400;">SÁCH SẮP PHÁT HÀNH / ĐẶT TRƯỚC</h2>
                <a href="#" class="btn btn-warning btn-sm text-white">Xem tất cả</a>
            </div>
        </div>
        <div class="p-2 bg-white">
            <div class="block-product">
                <!-- 1 san pham -->
                <div class="card">
                    <a href="#" class="product" style="text-decoration: none; color: black;" data-toggle="tooltip"
                        data-placement="bottom" title="Ngoại Giao Của Chính Quyền Sài Gòn">
                        <img class="card-img-top picture" src="../static/images/ngoai-giao-cua-chinh-quyen-sai-gon.jpg"
                            alt="ngoai-giao-cua-chinh-quyen-sai-gon">
                        <div class="card-body content-product mt-3">
                            <h3 class="card-title book-name">Ngoại Giao Của Chính Quyền Sài Gòn</h3>
                            <small class="author text-muted">Brian Finch</small>
                            <div class="price d-flex align-items-baseline">
                            </div>
                            <div class="review">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="product" style="text-decoration: none; color: black;" data-toggle="tooltip"
                        data-placement="bottom" title="Đường Mây Trên Đất Hoa">
                        <img class="card-img-top picture" src="../static/images/duong-may-tren-dat-hoa.jpg"
                            alt="duong-may-tren-dat-hoa">
                        <div class="card-body content-product mt-3">
                            <h3 class="card-title book-name">Đường Mây Trên Đất Hoa</h3>
                            <small class="author text-muted">Brian Finch</small>
                            <div class="price d-flex align-items-baseline">
                            </div>
                            <div class="review">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="product" style="text-decoration: none; color: black;" data-toggle="tooltip"
                        data-placement="bottom" title="Muôn Kiếp Nhân Sinh">
                        <img class="card-img-top picture" src="../static/images/muon-kiep-nhan-sinh.jpg"
                            alt="muon-kiep-nhan-sinh">
                        <div class="card-body content-product mt-3">
                            <h3 class="card-title book-name">Muôn Kiếp Nhân Sinh</h3>
                            <small class="author text-muted">Brian Finch</small>
                            <div class="price d-flex align-items-baseline">
                            </div>
                            <div class="review">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="product" style="text-decoration: none; color: black;" data-toggle="tooltip"
                        data-placement="bottom" title="Đường Mây Trong Cõi Mộng">
                        <img class="card-img-top picture" src="../static/images/duong-may-trong-coi-mong.jpg"
                            alt="duong-may-trong-coi-mong.jpg">
                        <div class="card-body content-product mt-3">
                            <h3 class="card-title book-name">Đường Mây Trong Cõi Mộng</h3>
                            <small class="author text-muted">Brian Finch</small>
                            <div class="price d-flex align-items-baseline">
                            </div>
                            <div class="review">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>