<section class="header bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3 overflow-scroll" style="margin-right: -15px;">
                <!-- CATEGORIES -->
                <div class="category-content">
                    <ul>
                        <li> <a href="/sach-kinh-te"> Sách Kinh Tế - Kỹ Năng</a></li>
                        <li><a href="#">Nghệ Thuật Sống - Tâm Lý </a></li>
                        <li><a href="#">Sách Văn Học Việt Nam</a></li>
                        <li><a href="#">Sách Văn Học Nước Ngoài</a></li>
                        <li><a href="#">Sách Thiếu Nhi</a></li>
                        <li><a href="#">Sách Giáo Dục</a></li>
                        <li><a href="#">Sách Lịch Sử</a></li>
                        <li><a href="#">Sách Văn Hóa - Nghệ Thuật</a></li>
                        <li><a href="#">Sách Khoa Học - Triết Học</a></li>
                        <li><a href="#">Sách Tâm Linh</a></li>
                        <li><a href="#">Sách Y Học - Thực Dưỡng</a></li>
                    </ul>
                </div>
            </div>
            <!-- banner slider  -->
            <div class="col-md-8 col-lg-9 px-0">
                <div id="carouselId" class="carousel slide" data-ride="carousel">
                    <ol class="nutcarousel carousel-indicators rounded-circle">
                        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselId" data-slide-to="1"></li>
                        <li data-target="#carouselId" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="#"><img src="../static/images/banner-sach-moi.jpg" class="img-fluid"
                                    style="height: 386px;" width="900px" alt="First slide"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#"><img src="../static/images/banner-beethoven.jpg" class="img-fluid"
                                    style="height: 386px;" width="900px" alt="Second slide"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#"><img src="../static/images/neu-toi-biet-duoc-khi-20-full-banner.jpg"
                                    class="img-fluid" style="height: 386px;" alt="Third slide"></a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselId" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselId" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>