<footer>
    <div class="container py-4">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <h3 class="header text-uppercase font-weight-bold">Về BookStore OU</h3>
                <a href="#">Giới thiệu về DealBook</a>
                <a href="#">Tuyển dụng</a>
                <div class="fb-like" data-href="https://www.facebook.com/DealBook-110745443947730/" data-width="300px"
                    data-layout="button" data-action="like" data-size="small" data-share="true">
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <h3 class="header text-uppercase font-weight-bold">HỖ TRỢ KHÁCH HÀNG</h3>
                <a href="#">Hướng dẫn đặt hàng</a>
                <a href="#">Phương thức thanh toán</a>
                <a href="#">Phương thức vận chuyển</a>
                <a href="#">Chính sách đổi trả</a>
            </div>
            <div class="col-md-3 col-xs-6">
                <h3 class="header text-uppercase font-weight-bold">HỢP TÁC VÀ LIÊN KẾT</h3>
                <img src="../static/images/dang-ky-bo-cong-thuong.png" alt="dang-ky-bo-cong-thuong">
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="payment">
                    <h3 class="header text-uppercase font-weight-bold">Phương thức thanh toán</h3>
                    <img src="../static/images/visa-payment.jpg" alt="visa-payment">
                    <img src="../static/images/master-card-payment.jpg" alt="master-card-payment">
                    <img src="../static/images/jcb-payment.jpg" alt="jcb-payment">
                    <img src="../static/images/atm-payment.jpg" alt="atm-payment">
                    <img src="../static/images/cod-payment.jpg" alt="cod-payment">
                    <img src="../static/images/payoo-payment.jpg" alt="payoo-payment">
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- back to top -->
<div class="btn btn-warning float-right rounded-circle scroll-up" id="backtotop" href="#" style="background:#CF111A;"><i
        class="fa fa-chevron-up text-white"></i>
</div>