<section class="recommend-book bg-white mt-4">
    <div class="container">
        <div class="p-2">
            <!--header-->
            <div class="col-12 d-flex justify-content-between align-items-center pb-2 bg-transparent pt-4">
                <h2 class="header text-uppercase" style="font-weight: 400;">SÁCH HAY NÊN ĐỌC</h2>
                <a href="#" class="btn btn-warning btn-sm text-white">Xem tất cả</a>
            </div>
            <div class="row">
                <!-- 1 san pham -->
                <div class="col-lg col-sm-4">
                    <div class="card">
                        <a href="#" class="product" style="text-decoration: none; color: black;" data-toggle="tooltip"
                            data-placement="bottom" title="Từng bước chân nở hoa: Khi câu kinh bước tới">
                            <img class="card-img-top picture" src="../static/images/tung-buoc-chan-no-hoa.jpg"
                                alt="tung-buoc-chan-no-hoa">
                            <div class="card-body content-product mt-3">
                                <h3 class="card-title book-name">Từng bước chân nở hoa: Khi câu kinh bước tới</h3>
                                <small class="thoigian text-muted">03/04/2020</small>
                                <div><a class="detail" href="#">Xem chi tiết</a></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg col-sm-4">
                    <div class="card">
                        <a href="#" class="product" style="text-decoration: none; color: black;" data-toggle="tooltip"
                            data-placement="bottom" title="Cảm ơn vì đã được thương">
                            <img class="card-img-top picture" src="../static/images/cam-on-vi-da-duoc-thuong.jpg"
                                alt="cam-on-vi-da-duoc-thuong">
                            <div class="card-body content-product mt-3">
                                <h3 class="card-title book-name">Cảm ơn vì đã được thương</h3>
                                <small class="thoigian text-muted">31/03/2020</small>
                                <div><a class="detail" href="#">Xem chi tiết</a></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg col-sm-4">
                    <div class="card">
                        <a href="#" class="product" style="text-decoration: none; color: black;" data-toggle="tooltip"
                            data-placement="bottom" title="Hào quang của vua price Long trong mắt Michel Gaultier">
                            <img class="card-img-top picture" src="../static/images/vua-gia-long.jpg"
                                alt="vua-gia-long">
                            <div class="card-body content-product mt-3">
                                <h3 class="card-title book-name">Hào quang của vua price Long trong mắt Michel
                                    Gaultier</h3>
                                <small class="thoigian text-muted">21/03/2020</small>
                                <div><a class="detail" href="#">Xem chi tiết</a></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg col-sm-4">
                    <div class="card">
                        <a href="#" class="product" style="text-decoration: none; color: black;" data-toggle="tooltip"
                            data-placement="bottom" title="Suối nguồn” và cái tôi hiện sinh trong từng cá thể">
                            <img class="card-img-top picture"
                                src="../static/images/suoi-nguon-va-cai-toi-trong-tung-ca-the.jpg"
                                alt="suoi-nguon-va-cai-toi-trong-tung-ca-the">
                            <div class="card-body content-product mt-3">
                                <h3 class="card-title book-name">"Suối nguồn” và cái tôi hiện sinh trong từng cá thể
                                </h3>
                                <small class="thoigian text-muted">16/03/2020</small>
                                <div><a class="detail" href="#">Xem chi tiết</a></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg col-sm-4">
                    <div class="card cuoicung">
                        <a href="#" class="product" style="text-decoration: none; color: black;" data-toggle="tooltip"
                            data-placement="bottom" title="Đại dịch trên những con đường tơ lụa">
                            <img class="card-img-top picture" src="../static/images/dai-dich-tren-con-duong-to-lua.jpg"
                                alt="dai-dich-tren-con-duong-to-lua">
                            <div class="card-body content-product mt-3">
                                <h3 class="card-title book-name">Đại dịch trên những con đường tơ lụa</h3>
                                <small class="thoigian text-muted">16/03/2020</small>
                                <div><a class="detail" href="#">Xem chi tiết</a></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>