<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<!-- Isotope -->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<!-- Main JS -->
<script type="text/javascript" src="../static/js/non_admin/main.js"></script>
<!-- Slick -->
<script type="text/javascript" src="../static/plugins/slick/slick.min.js"></script>
<!-- Cursor -->
<script type="text/javascript" src="../static/plugins/cursor/cursor.js"></script>
<!-- API -->
<script src="{{ url_for('static', filename='js/non_admin/sign_up.js') }}"></script>
<!-- Sign in-->
<script src="{{ url_for('static', filename='js/non_admin/sign_in.js') }}"></script>
<!-- Sweet-alert-->
<link rel='stylesheet' href='https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css'>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
