<section class="abovefooter text-white" style="background-color: #CF111A;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="services d-flex align-items-center">
                    <img src="../static/images/icon-books.png" alt="icon-books">
                    <div class="services-content">
                        <h3 class="services-title font-weight-bold">HƠN 14.000 TỰA SÁCH HAY</h3>
                        <p class="detail">Tuyển chọn bởi DealBooks</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services d-flex align-items-center">
                    <img src="../static/images/icon-ship.png" alt="icon-ship">
                    <div class="services-content">
                        <h3 class="services-title font-weight-bold">MIỄN PHÍ GIAO HÀNG</h3>
                        <p class="detail">Từ 150.000đ ở TP.HCM</p>
                        <p class="detail">Từ 300.000đ ở tỉnh thành khác</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services d-flex align-items-center">
                    <img src="../static/images/icon-gift.png" alt="icon-gift">
                    <div class="services-content">
                        <h3 class="services-title font-weight-bold">QUÀ TẶNG MIỄN PHÍ</h3>
                        <p class="detail">Tặng Bookmark</p>
                        <p class="detail">Bao sách miễn phí</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services d-flex align-items-center">
                    <img src="../static/images/icon-return.png" alt="icon-return">
                    <div class="services-content">
                        <h3 class="services-title font-weight-bold">ĐỔI TRẢ NHANH CHÓNG</h3>
                        <p class="detail">Hàng bị lỗi được đổi trả nhanh chóng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>