{% extends 'non_admin/layout.html'%}


{% block title %}
<title>Tài khoản - Mua sách trực tuyến giá rẻ nhất</title>
{% endblock %}


{% block head %}
{{super()}}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endblock %}


{% block body %}
{{super()}}
   <!-- content categories + banner slider start -->
   {% include 'includes/non_admin/content-categories.html' %}
   <!-- content categories + banner slider end -->
<!-- cart UI start -->
{% include 'includes/non_admin/account/account.html' %}
<!-- cart UI end -->

{% endblock %}