{% extends 'non_admin/layout.html'%}


{% block title %}
<title>Tài khoản - Mua sách trực tuyến giá rẻ nhất</title>
{% endblock %}


{% block head%}
{{super()}}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<link rel="stylesheet" href="../static/css/account.css">
{% endblock%}


{% block body %}
{{super()}}

<!-- cart UI start -->
{% include 'includes/non_admin/account/account.html' %}
<!-- cart UI end -->

{% endblock %}