{% extends 'admin/master.html'%}


{% block head%}
{{super()}}
{% endblock%}


{% block body %}
{{super()}}
<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div>
                <h2 class="text-white pb-2 fw-bold">Giỏ hàng</h2>
                <h5 class="text-white op-7 mb-2">Quản lý Nhà sách</h5>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2 justify-content-center">
           
        </div>
    </div>
</div>
{% endblock %}
