{% extends 'admin/master.html' %}


{% block head %}
{{ super() }}
<!-- Owl carousel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

{% endblock %}
{% block header %}
{% if current_user.is_authenticated %}
{% include 'includes/admin/navigation.html' %}
{% include 'includes/admin/sidebar.html' %}
{% endif %}
{% endblock %}
{% block container %}
{% block body %}
{% if not current_user.is_authenticated %}
{% include 'includes/admin/login.html' %}
{% else %}
<div class="main-panel">
    {% block content %}
    {% include 'includes/admin/home.html' %}
    {% block footer %}
    {% if current_user.is_authenticated %}
    {% include 'includes/admin/footer.html' %}
    {% endif %}
    {% endblock %}
    {% endblock content %}
    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}
</div>
{% endif %}

{% block script %}


{% endblock %}

{% endblock %}
{% endblock %}